/*Import zocial icon fonts for footer logos*/

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/*Arrows*/
.arrow {
	color: black;
	font-size: 20px;
}

/*Default CSS (for small devices)*/

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {

	font-family: "Roboto", sans-serif;
}

.date-text {
	font-style: italic;
	font-size: 14px;
	color: #999;
	line-height: 16px;
	float: left;
}

.location-text {
	font-style: italic;
	font-size: 14px;
	color: #999;
	line-height: 16px;
	float: right;

}

p {
	font-size: 14px;
	color: black;
	line-height: 21px;
}

a {
	color: #1199c3;
	text-decoration: none;
	margin-top: 10px;
	display: block;
}

.flex-box {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 2px;
}

ul {
	list-style-type: none;
}

#lets-connect {
	text-align: center;
}

/*CUSTOM CSS (DEFAULT DESIGN: FOR LESS THAN 438PX WIDE)*/

/*
GENERAL
*/

html {
	background-color: rgba(97,17,170,0.7);
}

/*
HEADER
*/

#header {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	background-image: url("http://colourlovers.com.s3.amazonaws.com/images/patterns/2224/2224088.png");
	background-repeat: repeat;
	border: 5px outset black;
	margin-right: auto;
	margin-left: auto;
}

.header-main-div {
	display: flex;
	flex-wrap: wrap;
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0,0,0,0.6);
}

.header-titles-image-main-div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}

	/*Header text*/
.header-titles-div {
	width: 60%;
	background-color: #26ad9b;
	display: flex;
	flex-wrap: wrap;
	margin-right: 1%;
	padding-bottom: 25px;
	border-radius: 45%;
	box-shadow: 10px 15px 20px rgba(0, 0, 0, 1.3);
}

#name {
	width: 100%;
	color: #9c0334;
	text-align: center;
	font-size: 40px;
	margin: 0;
	margin-top: 15px;
	padding: 0;
	font-family: "Dancing Script", cursive; /*CUSTOM FONT*/
	text-shadow: 0 2px rgba(255, 255, 255, 0.9);
}

#role {
	width: 100%;
	font-size: 15px;
	font-family: "Bangers", cursive; /*CUSTOM FONT*/
	text-align: center;
	margin: 0;
	margin-left: 10px;
	margin-top: 5px;
	padding: 0;
}

	/*Header images*/
.header-image-div {
	width: 35%;
	height: 100%;
	background-color: #c73161;
	border-radius: 25%;
	box-shadow: 10px 3px black;
	display: flex;
	align-items: center;
}

.biopic {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

	/*Header skills*/
.skills-main-div {
	width: 100%;
	float: right;
	margin-top: 10px;
	padding-top: 15px;
	background-color: rgba(0,0,0,0.3);
}

#skills-h3 {
	font-size: 25px;
	font-family: "Luckiest Guy", cursive; /*CUSTOM FONT*/
	background-color: rgba(255,255,255,0.8);
	text-align: center;
	color: black;
	margin-bottom: 0;
	margin-top: 5px;
	border-radius: 40%;

	/*Animation to change background color*/
	animation-name: background-change;
	animation-duration: 6s;
}

/*Animation for #skills-h3 background color change*/
@-webkit-keyframes background-change {
	from { background-color: white;}
	to {background-color: #1199c3;}
}


@keyframes background-change {
	from { background-color: white;}
	to {background-color: #1199c3;}
}

.skills-list {
	margin-top: 0;
	padding-top: 0;
}

.skill {
	background-color: #4c5e5e;
	font-size: 13px;
	color: white;
	padding: 6px;
	border-radius: 30%;
	margin-top: 10px;
	box-shadow: 0 6px #c6de99;
}

	/*Header contacts*/
#topContacts {
	display: flex;
	width: 100%;
	padding-left: 0;
	background-color: rgba(179,143,271,0.2);
	margin-bottom: 0;
	margin-top: 0;

}

.contact-indiv-div {
	text-align: center;
	margin-bottom: 15px;
}

.contactType {
	color: white;
	background-color: #4c5e5e;
	padding: 8px;
	font-size: 10px;
	font-weight: bold;
	margin-right: 10px;
	border-radius: 40%;
}

.contactData {
	color: black;
	background-color: rgba(255,255,255,0.6);
	padding: 5px;
	font-size: 12px;
	border-radius: 25%;
}

	/*Navegation Bar*/
.navBar-main-div {
	width: 100%;
	height: 50px;
}

.navBar {
	display: flex;
	height: 100%;
	text-align: center;
}

.button {
	width: 25%;
	padding-top: 14px;
}

.button-text {
	color: white;
	background-color: rgba(212, 115, 251, 0.5);
	padding: 0;
	margin: 4px;
	margin-top: 0;
}


	/*Welcome message*/
.welcome-message {
	color: #333;
	font-size: 18px;
	width: 100%;
	margin-bottom: 12px;
	text-align: center;
	font-family: "Luckiest Guy", cursive; /*CUSTOM FONT*/
	text-shadow: 5px 5px white;
	background-color: rgba(255,255,255,0.5);
}

/*
MAIN CONTENT
*/

.main-content-div {
	width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.submain-content-div {
	width: 95%;
	padding-top: 30px;
	padding-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(46,119,213,0.4);
	border: none;
}

	/*Work-Education Div*/

.work-education-main-div {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30%;
}

h2 {
	width: 100%;
	text-align: center;
	font-size: 25px;
	font-family: "Lobster", cursive; /*CUSTOM FONT*/
	/*Make unselectable*/
	-webkit-user-select: none;
	-moz-use-select: none;
	-ms-user-select: none;
}

h3 {
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-family: "Lobster", cursive;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 10px;
}

p {
	font-family: "Patua One", cursive;
	font-size: 12px;
	padding: 10px;
}

a {
	font-size: 19px;
	font-family: "Bangers", cursive;
}

.location-text,
.date-text {
	color: #333;
}

/*
WORK section
*/

#workExperience {
	width: 100%;
	margin: 0;
	margin-bottom: 20px;
	background-color: #a2e5e5;
	border-radius: 5%;
	box-shadow: 10px 15px rgba(0,0,0,0.4);
}

.work-entry {
	margin-top: 20px;
	padding: 10px;
	background-color: #ddf6f5;
}

/*
EDUCATION Section
*/

#education {
	width: 100%;
	margin-left: 0;
	margin-bottom: 20px;
	background-color: #93dfb8;
	border-radius: 2%;
	box-shadow: -10px 15px rgba(0,0,0,0.4);
}

.education-entry {
	margin-top: 5px;
	padding: 10px;
	background-color: #daffec;
}

.onlineCourse-entry {
	background-color: #daffec;
	padding-left: 10px;
}

.online-link {
	font-size: 15px;
}

/*
PROJECTS section
*/

#projects {
	width: 100%;
	margin-left: 0;
	background-color: #a9da88;
}

.projects-section-title {
	padding-top: 30px;
}

.project-entry {
	display: flex;
	flex-wrap: wrap;
	background-color: #cdeab9;
	margin-top: 30px;
}

.project-text-div {
	width: 100%;
}

.project-title {
	font-size: 25px;
	text-align: center;
}

.project-images-div {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.project-image {
	width: 40%;
	height: 100%;
	margin-right: 3%;
	margin-left: 5%;
	margin-top: 5px;
}

/*
MAP section
*/

#mapDiv {
	background-color: #ffa957;
	padding-top: 6px;
	width: 100%;
	height: 410px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	border-radius: 5%;
}

.map-title {
	background-color: #ffc38a;
	width: 100%;
	border-radius: 25%;
}

#map {
	display: block;
	border-radius: 25%;
	height: 70%;
	margin: 0 5%;
}

/*
FOOTER section
*/

#lets-connect {
	background-color: black;
}

.footer-title {
	color: black;
	margin-bottom: 0;
	background-color: #6da3ea;
	text-shadow: 5px 5px rgba(0,0,0,0.5);
}

#footerContacts {
	display: flex;
	width: 100%;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
}

.footer-indiv-contact {
	text-align: center;
}

	/*Footer logos*/
.footer-logo:before {
	margin-right: 15px;
	color: #26ad9b;
}

	/*Text after each logo*/
.footer-logo {
	color: white;
	font-size: 15px;
	font-family: "Luckiest Guy", cursive; /*CUSTOM FONT*/
}




/* MEDIA QUERIES to handle various device widths*/

/*
MAJOR BREAKPOINTS
*/

/*MEDIUM devices (570-760px) */

@media screen and (min-width: 570px) and (max-width: 760px) {

	/*
	Header
	*/

	#name {
		font-size: 50px;
	}

	#role {
		font-size: 25px;
	}

	.contact-indiv-div {
		width: 30%;
		margin-top: 10px;
	}

	.contactType,
	.contactData {
		font-size: 13px;
	}

	.welcome-message {
		font-size: 20px;
	}

	/*
	Work Section
	*/

	#workExperience {
		width: 45%;
		margin: 10px;
		margin-top: 0;
		border-radius: 0;
	}

	/*
	Education section
	*/

	#education {
		width: 45%;
		margin-left: 20px;
		border-radius: 0;
	}

	/*
	Map section
	*/

	#mapDiv {
		height: 350px;
	}
}





/*LARGE devices (>760px) */

@media screen and (min-width: 761px) {

	/*
	Header
	*/

	#name {
		font-size: 50px;
	}

	.header-titles-image-main-div {
		width: 60%;
	}

	.header-titles-div {
		width: 60%;
	}

	.header-image-div {
		width: 35%;
		margin-left: 8px;
		margin-right: 0;
		max-height: 174px;
	}

	.skills-main-div {
		width: 35%;
		margin-left: 25px;
		padding-top: 30px;
	}

	.skill {
		font-size: 16px;
	}

	#topContacts {
		width: 100%;
	}

	.contact-indiv-div {
		margin-top: 10px;
	}

	.contactType,
	.contactData {
		font-size: 14px;
	}

	.welcome-message {
		font-size: 23px;
	}

	/*
	Content sections general style
	*/

	p {
		font-size: 14px;
	}

	/*
	Work section
	*/

	#workExperience {
		width: 45%;
	}

	/*
	Education section
	*/

	#education {
		width: 45%;
		margin-left: 45px;
	}

	/*
	Projects section
	*/

	.projects-section-title {
		font-size: 35px;
	}

	.project-title {
		font-size: 30px;
	}

	.project-text-div {
		width: 45%;
	}

	.project-images-div {
		padding-left: 0;
		padding-right: 0;
		width: 55%;
		margin-left: auto;
		margin-right: auto;
	}

	.project-image {
		width: 50%;
		margin-right: auto;
		margin-left: auto;
		margin-top: 5px;
	}

	/*
	Map section
	*/

	#mapDiv {
		height: 450px;
	}

	#map {
		height: 80%;
	}
}



/*VERY LARGE devices (>1170px) */

@media screen and (min-width: 1170px) {

	/*
	Header
	*/
	.skill {
		padding: 15px;
	}

	.contactType,
	.contactData {
		font-weight: bold;
	}

	/*
	Footer
	*/

	.footer-title {
		font-size: 35px;
	}

	.footer-logo {
		font-size: 24px;
	}
}


/*
MINOR BREAKPOINTS
*/

/*Minor breakpoint to make contact list elements 100% wide*/
@media screen and (max-width: 569px) {

	.contact-indiv-div {
		width: 100%;
	}
}

/*Minor breakpoint media query for title's font size (>677px) */
@media screen and (min-width: 677px) {

	#name {
		font-size: 60px;
	}
}

/*Minor breakpoint for name and role's font size in very large devices*/
@media screen and (min-width: 1009px) {

	#name {
		font-size: 70px;
	}

	#role {
		font-size: 30px;
	}
}

/*Minor breakpoint media query to center #workExperience div (>700px) */
@media screen and (min-width: 700px) {

	#workExperience {
		margin-left: 25px;
	}
}

/*Minor breakpoint to make work and education section fit in one row*/
@media screen and (min-width: 760px) and (max-width: 770px) {

	#workExperience {
		width: 43%;
	}
}

/*Minor breakpoints for title font size (547px-569px)*/
@media screen and (min-width: 547px) and (max-width: 569px) {

	#name {
		font-size: 50px;
	}

	#role {
		font-size: 25px;
	}
}

/* Minor breakpoint media query to change font size of "role" and "name" (760px-1009px)*/
@media screen and (min-width: 760px) and (max-width: 1009px) {

	#name {
		font-size: 55px;
	}

	#role {
		font-size: 25px;
	}
}

/*Minor breakpoints for images to be vertically centered*/
@media screen and (min-width: 761px) and (max-width: 770px) {

	.project-image {
		margin-top: 95px;
	}
}

@media screen and (min-width: 771px) and (max-width: 917px) {

	.project-image {
		margin-top: 75px;
	}
}

@media screen and (min-width: 918px) and (max-width: 980px) {

	.project-image {
		margin-top: 55px;
	}
}

@media screen and (min-width: 981px) and (max-width: 1100px) {

	.project-image {
		margin-top: 35px;
	}
}


/*Minor breakpoints for contacts list in  header (small devices) to be aligned to the left and footer to be centered*/
@media screen and (max-width: 350px) {

	#topContacts {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		padding: 20px;
		padding-left: 20px;
		border-radius: 25%;
	}

	.contact-indiv-div {
		text-align: left;
	}
}

	/*Minor breakpoint for VERY LARGE devices (like kindle fire)*/

/*Portrait*/

@media screen and (min-width: 1500px) and (min-height: 2500px)  {

	/*Header*/
	#name {
		font-size: 90px;
	}

	.skill {
		padding: 19px;
		font-size: 17px;
	}

	.contactData,
	.contactType {
		font-size: 20px;
	}

	.welcome-message {
		font-size: 33px;
	}

	/*Content sections*/
	a {
		font-size: 30px;
	}

	p {
		font-size: 20px;
	}

	/*Projects sextions*/
	.project-title {
		font-size: 40px;
	}

	/*Map section*/
	#mapDiv {
		height: 550px;
	}

	/*Footer*/
	.footer-title {
		font-size: 45px;
	}
}


/*Landscape*/

@media screen and (min-width: 2500px) and (min-height: 1500px) {

	/*Header*/
	#name {
		font-size: 130px;
	}

	#role {
		font-size: 70px;
	}

	.skills-main-div {
		padding-top: 90px;
	}

	#skills-h3 {
		font-size: 55px;
	}

	.skill {
		font-size: 27px;
	}

	.contactType,
	.contactData {
		font-size: 30px;
	}

	.welcome-message {
		font-size: 43px;
	}

	/*Content sections*/
	a {
		font-size: 49px;
	}

	p {
		font-size: 24px;
	}

	em {
		font-size: 30px;
	}

	h2 {
		font-size: 65px;
	}

	.location-text {
		font-size: 24px;
	}

	/*Education section*/
	#education {
		margin-left: 125px;
	}

	/*Projects section*/
	.projects-section-title {
		font-size: 65px;
	}

	.project-title {
		font-size: 50px;
	}

	.date-text {
		font-size: 24px;
	}

	/*Map section*/
	#mapDiv {
		height: 1150px;
	}

	/*Footer section*/
	.footer-title {
		font-size: 65px;
	}
}





